<!-- Navigation Bar -->
<nav class="navbar">
    <ul class="nav-menu">
        <li><a href="#budgeting">Budgeting</a></li>
        <li><a href="#investing">Investing</a></li>
        <li><a href="#careers">Careers</a></li>
        <li><a href="#interviews">Interviews</a></li>
        <li><a href="#prioritization">Prioritization</a></li>
    </ul>
</nav>
